.frame{  
    display:flex;    
    width:85em;
    height: 35em;    
    border-radius: 3em;    
    overflow:auto;
    border:solid 1px ;
    color:black;
}

.message-frame{               
    max-width: 25em;
    width:auto;
    height:auto;
    border: 2px solid white;    
    border-radius: 5em 5em .5em 5em  ;
    padding:.5em;
    box-shadow: 0 0 1em black;
    color: white;
    background-color: rgba(126, 117, 98, 0.425);
    margin-right: -25em;
    z-index: 1;   
}
.time{
    font-size: .65em;
    margin-bottom: 0em;
    margin-top: 0;
    padding-top: 0;
}

.message-bar{
    margin-top: 5em;
    width:50vw;   
}
.my-message{
    display: block; 
    margin-left: -25em;
    border-radius: 5em 5em 5em .5em;
    background-color: rgb(66, 172, 172);
    max-width: 25em;
    width:auto;
    height:auto;
    border: 2px solid white;   
    box-shadow: 0 0 1em black;
    color: whitesmoke;
    padding: 1em;   
    z-index: 1;      
}

.avatar{    
    padding: .25em;
    margin: 1em;
    margin: 1em;    
}


.add-message{
    margin-left: auto;   
    color: aliceblue;
    border: solid 3px;
    border-radius: 5em;
    padding: .5em;
}
.add-message:hover{
    transform: scale(1.5);
    cursor: pointer;
    box-shadow: 0 0 3em black;
}

.invisible{
    display:none;
}

.message-form{    
    width: 35em;
    height: auto;
    position: fixed;
    left:45em;
    background-color: rgba(91, 231, 201, 0.849);
    box-shadow: 0 0 5em rgba(77, 77, 77, 0.747);
    padding: 2em;
    border-radius: 3em;
    color:white;
}

.msg-image{
 width: 50px;
 border-radius: .75em;
 margin:.5em
}

@media screen and (max-width: 600px){
    .message-form{
        transform:scale(.65);
        left:-6em; 
        z-index: 2;       
    }
    .message-frame{
       width:25em;
       margin-right: 0;       
       font-size: 10px;
       padding: 1em;
       border: solid 1px;       
    }
    .my-message{
        margin-left: 0em;
        font-size: 10px;
        padding: 1;
        border: solid 1px;  
    }
    .msg-image{
        width: 40px;
    }

    .frame{
        transform: scale(.85);
        margin-top: -3em;
        height: 25em;
    }
    .add-message{
        transform: scale(.75);
        margin-top: -3em;
        margin-bottom: 2em;
    }
}