.welcome{    
    margin-top: 3em;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-shadow: .25em .25em .25em black;
    font-size: 2em;
    color: azure;   
}