nav {
    display: flex;
    position:fixed;
    width:100%;
    left:0;
    top:0;
    justify-content: center;
    align-content: center;
    align-items: center;   
    height: 50px; 
    color: aliceblue;
    background-color: rgba(52, 124, 109, 0.473);   
}

.weather {    
    margin-left: 2em;
    margin-right: auto;
    
   
}
.clock {   
    padding: 1em;
    margin-left:auto;
    margin-right: 2em;
}

.signInLink{
    cursor: pointer;
    font-size: 1em;
}

.signInLink:hover {
        opacity: 1;
        transition: opacity .15s ease-out;
        transform: scale(1.2);
        color:ghostwhite;
 }

 .navLinks{ 
     width: 100%;
     display:flex;
     justify-content: center;
     align-content: center;
     align-items: center;
    
 }

 .nav-menu{
    position:fixed;
    top:.5em;
    right: 1.5em;
 }

 .nav-menu:hover{
     transform: scale(1.5);
     cursor: pointer;
     background-color: rgba(192, 192, 192, 0.192);
 }

 #menulist{
     margin-top: 11em;
     background-color: rgba(192, 192, 192, 0.418);
     border-radius: 0em 0em 0em 2em;
     border: solid 2px;     
 }

 @media screen and (max-width:600px){
     #menulist{
         background-color: rgba(192, 192, 192, 0.966);
        
     }
 }

 



