nav {
    display: flex;
    position:fixed;
    width:100%;
    left:0;
    top:0;
    justify-content: center;
    align-content: center;
    align-items: center;   
    height: 50px; 
    color: aliceblue;
    background-color: rgba(52, 124, 109, 0.473);   
}

.weather {    
    padding: 1em;
    padding-top: 1.5em;
    margin-left: 2em;
    margin-right: auto;
    
   
}
.clock {   
    padding: 1em;
    margin-left:auto;
    margin-right: 2em;
}

.signInLink{
    cursor: pointer;
}

.signInLink:hover {
        opacity: 1;
        transition: opacity .15s ease-out;
        transform: scale(1.2);
        color:ghostwhite;
 }

 .navLinks{
     
     width: 100%;
     display:flex;
     justify-content: center;
     align-content: center;
     align-items: center;
    
 }

 li{
    padding-left: 5em;
    padding-right: 5em;
    font-style: oblique;
    font-size: 1.05em;  
     list-style: none;
     cursor: pointer;
 }
 li:hover{
    opacity: 1;
    transition: opacity .15s ease-out;
    transform: scale(1.2);
    color:ghostwhite;
 }



